.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(213, 78, 25);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  button{
  background-color: rgb(19, 18, 18);
  color:white;
  
}
button:hover{
  cursor: pointer;
  background-color: white;
  color:black
}

.newForm, .categories{
  margin-top: 100px;
  
}


.admin-category{
  background-color: rgba(248, 121, 168, 0.35);
  border-radius: 20px;
  width: 350px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  margin-bottom: 15px;
  color: #201a24;
  font-weight: bolder;
}

.leaderboard-user{
  background-color: rgba(248, 121, 168, 0.35);
  border-radius: 20px;
  width: 350px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  margin-bottom: 15px;
  color: #201a24;
  font-weight: bolder;
}


/* Gombok stílusai */
button {
  background-color: rgb(19, 18, 18);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px; /* Kerekített sarok */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Árnyék */
  transition: background-color 0.3s, color 0.3s, transform 0.2s; /* Átmenetek */
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transform: scale(1.05); /* Kissé nagyobb méretűvé válás */

}

body {
  margin: 0;
  padding: 0;
  background-image: url("https://wallpapers.com/images/hd/question-mark-background-tghys36vjksf02r6.jpg"); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  size: cover;
  overflow-y: scroll;
  font-size: 16px; /* Betűméret */
  backdrop-filter: invert(70%);
  position: absolute;
  left: 0;
  width: 100%;
  min-height: 100%;
}

/* Gombok formázása */
button {
  background-color: rgb(19, 18, 18);
  color: white;
  border: none;
  border-radius: 5px; /* Kerekített sarkok */
  padding: 10px 20px; /* Belső térköz a gombok körül */
  margin: 5px; /* Külső térköz a gombok között */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Árnyék */
  
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

input, select{
  width: 300px;
  height: 50px;
  font-size: 20px;
}

#add, #show, #send, #again, #answer, #next, #save, #change, #login, #logIn{
  margin-top: 20px;
  width: 300px;
  font-size: 20px;
}

p, span, div, 
li, a {
  font-weight: bold; /* Vastagabb szöveg */
  font-size: 25px;
}

.bulb-image:hover {
  fill: yellow
} 

.correct-answer-text {
  text-shadow: 1px 1px 2px rgb(1, 252, 1), 0 0 1em rgb(0, 255, 42), 0 0 0.2em rgb(0, 255, 34);
}

.incorrect-answer-text {
  text-shadow: 1px 1px 2px rgb(252, 51, 1), 0 0 1em rgb(255, 0, 0), 0 0 0.2em rgb(255, 0, 0);
}